/* Header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, #7a1fa1 1%, #d400f8 100%);
}

.nav {
    height: 70px;
    width: 100vw;
    background: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #7a1fa1 1%, #d400f8 100%);
    box-shadow: 5px 0 10px rgb(0 0 0 / 50%);
}


.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 66px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    overflow: hidden;
}

.menu-btn__burger {
    width: 17px;
    height: 3px;
    background: #fdeb09;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 500ms ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 3px;
    background: #fdeb09;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 500ms ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-6px);
}

.menu-btn__burger::after {
    transform: translateY(6px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.ags {
    width: 94px;
    height: 46px;
}

.user {
    width: 30px;
    height: 41px;
}

.userContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 74px;
    padding: 8px;
}

.coupon-list {
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
    background: #FFF;
    color: #464545;
    border-radius: 1rem;
    margin-bottom: 2rem;
    text-align: left;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.coupon-list__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.status--icon {
    width: 24.5px;
    height: 24.5px;
}

.fechas {
    width: 54px;
    height: 62px;
    margin: 10px;
}

.noTic {
    opacity: .15;
}

.noTic--text {
    color: #c5c3c3 !important;
}

.mientrada {
    display: flex;
    flex-direction: column;
}

.coupon-listContainer {
    padding: 5px;
}

.mientrada {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #ffff3c;
    margin-bottom: 1rem;
}

.mientrada--img {
    width: 186px;
    height: 56px;
}

.texto {
    line-height: 28.8px;
    font-size: 1.2rem;
    color: #464545;
    text-align: center;
    font-weight: bold;
}

.ticket_desc {
    line-height: 19.2px;
    font-size: 0.8rem;
}


.button__menores {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: #d401f8;
    color: #FFF;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    outline: none;
    border: none;
    width: 100%;
}


.popup.active .content {
    display: block;
}

.popup.active .overlay {
    display: block;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    min-height: 100vh;
    min-width: 100vw;
    display: none;
}

.content {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 3px solid #fdeb09;
    border-radius: 1rem;
    padding: 1rem;
    background: #7a1fa1;
    background: -moz-linear-gradient(left, #7a1fa1 1%, #d400f8 100%);
    background: -webkit-linear-gradient(left, #7a1fa1 1%, #d400f8 100%);
    background: linear-gradient(to right, #7a1fa1 1%, #d400f8 100%);
    width: 300px;
    height: 434px;
}

.content--img {
    width: 262px;
    height: 396px;
}

.btn-close {
    position: absolute;
    top: -20px;
    left: -10px;
    vertical-align: middle;
    border-style: none;
    width: 2rem;
    height: 2rem;
}